
nav {
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.25);
    padding-inline: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui,-apple-system, BlinkMacSystemFont, 'SF Pro Text', sans-serif;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    font-size: 13px;
    font-weight: 500;
    color: white;

    .left {
        display: flex;
        gap: 16px;
        align-items: center;

        .img {
            display: flex;
            align-items: center;

            img {
                width: 20px;
                height: 20px;
                filter: brightness(0) invert(1);
            }
        }

        p {
            cursor: pointer;
            padding: 4px 6px;
            letter-spacing: 1px;
            font-size: 1rem;
            border-radius: 4px;
            margin: 0;
            transition: background 0.2s ease;

            &:first-of-type {
                font-weight: 500;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.15);
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 8px;

        .wifi {
            padding: 4px 6px;
            border-radius: 4px;
            cursor: pointer;
            transition: background 0.2s ease;
            
            &:hover {
                background: rgba(255, 255, 255, 0.15);
            }

            img {
                width: 20px;
                height: 20px;
                filter: brightness(0) invert(1);
            }
        }

        .datetime {
            display: flex;
            gap: 8px;
            padding: 4px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background 0.2s ease;

            &:hover {
                background: rgba(255, 255, 255, 0.15);
            }

            .date, .time {
                font-size:1rem;
                padding-inline: 5px;
                font-weight: 500;
            }
        }
    }
}
