.github {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    align-items: flex-start;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 10px;
    padding-bottom: 10rem;
}

.project {
    padding: 1.2rem;
    flex-shrink: 0;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(40, 39, 39);
    gap: 5px;



    img {
        height:210px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .project-info {
        h1 {
            font-size: 1.5rem;
            padding: 10px 0;
            font-weight: 500;
        }

        p {
            font-size: 1rem;
            opacity: 0.4;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            padding: 10px 0;
            align-items: center;

            span {
                padding: 5px 10px;
                border-radius: 5px;
                background-color: rgb(57, 55, 55);
            }
        }

        .links {
            display: flex;
            gap: 10px;

            a {
                color: rgb(234, 218, 218);
                text-decoration: none;
                padding: 3px 10px;
                font-weight: 600;
            }
        }
    }
}