
.note-window{
    padding: 1rem;
    height: 100%;
    overflow: auto;
    padding-bottom: 10rem;
   scrollbar-width: none;
    -ms-overflow-style: none;
    font-size: 1.1rem;


    pre{
        background-color: transparent !important;
        overflow-x: hidden;
    }
}
